* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
/* класс активности для кнопок выбора настроения */
.active-mood {
  background-color: gray;
  color: white;
}

/* класс активности для карточек новостей */
.active-card {
  background-color: gray;
  color: white;
}

/* grid для колонок новостей  */
/* - repeat(...) - повторять колонки;
  - auto-fit - браузер сам решает, сколько колонок поместится;
  - minmax(250px, 1fr)
      - минимум 250px;
      - максимум занимает свободное место. */
.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
